<% layout('/layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> <%= err.message %> </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vel earum quas odit ad autem a, laboriosam ex cum voluptate quibusdam quisquam, corporis non aliquid, reprehenderit ipsa? Ullam, repellendus exercitationem.
            Quae qui repudiandae fugit. Cumque eius dignissimos possimus eligendi optio ipsa architecto at accusamus? Quasi architecto iusto doloribus est maiores. Sed praesentium eius repudiandae vel culpa aliquam labore, reprehenderit autem?
            Repellendus alias voluptas corporis earum sunt, quisquam eligendi recusandae voluptate eum harum saepe ipsa dolores illo vitae consequuntur? Nemo ipsum sunt dolore iure eum vel nam quia sapiente, molestiae ab.</p>
            <p class="w-10" > <%= err.stack %> </p>
          </div>
    </div>
</div>

